<div id="rules">
    <div class="card-rule">
        <img src="assets/images/horse.svg" alt="" srcset="">

        <h3>Les règles du jeu</h3>
        <ul>
            <li>Chaque joueur sélectionne un deck en début de partie (5 cartes)</li>
            <li>Chaque joueur sélectionne 1 carte, face cachée, sur le plateau central</li>
            <li>Quand tous les joueurs ont déposé leur carte et spécifié être "prêt", toutes les cartes sont retournées</li>
            <li>Le joueur qui a la carte la plus forte gagne 1 point</li>
            <li>Si les 2 joueurs ont une une carte de même valeur, alors aucun ne gagne</li>
            <li>Le joueur qui gagne la partie (5 coups) est le joueur qui a le plus de points.</li>
            <li>Si plusieurs joueurs ont le même score, aucun ne gagnent</li>
        </ul>
        <img src="assets/images/horse.svg" alt="" srcset="">

    </div>
</div>

