#signupForm{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    color: white;
}

.b-form{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label{
    align-self: flex-start;
}

input{
    border-radius: 15px;
    border: none;
    height: 25px;
    padding-left: 15px;
}

button{
    align-self: flex-end;
}